<h2>Shouts</h2>

<%= form_for @shout do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "Shout" %>
<% end %>

<ul>
  <% @shouts.each do |shout| %>
    <li><%= shout.body %></li>
  <% end %>
</ul>
