<ul>
  <% @users.each do |user| %>
    <li>
    <% if current_user.following?(user) %>
      <%= user.email %>
      <%= button_to "Unfollow", [user, @following_relationship], method: :delete %>
    <% else %>
      <%= user.email %>
      <%= button_to "Follow", [user, @following_relationship] %>
    <% end %>
    </li>
  <% end %>
</ul>
